<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">
            <%= link_to backend_admins_path do %>
            <i class="fa fa-dashboard"></i>
            Dashboard
            <% end %>
        </li>
        <li>
            <%= link_to activities_path do %>
            <i class="fa fa-telegram"></i>
            <span>Activities</span>
            <% end %>
        </li>
        <li>
            <%= link_to categories_path do %>
            <i class="fa fa-compass"></i>
            <span>Categories</span>
            <% end %>
        </li>
        <li>
            <%= link_to providers_path do %>
            <i class="fa fa-id-badge"></i>
            <span>Providers</span>
            <% end %>
        </li>
        <li>
            <%= link_to providers_branches_path do %>
            <i class="fa fa-balance-scale"></i>
            <span>Provider Branches</span>
            <% end %>
        </li>
        <li>
            <%= link_to providers_payment_types_path do %>
            <i class="fa fa-money"></i>
            <span>Providers' Payment Types</span>
            <% end %>
        </li>
        <li>
            <%= link_to addresses_path do %>
            <i class="fa fa-address-card"></i>
            <span>Addresses</span>
            <% end %>
        </li>
        <li>
            <%= link_to providers_opening_times_path do %>
            <i class="fa fa-building-o"></i>
            <span>Office Hours</span>
            <% end %>
        </li>
        <li>
            <%= link_to providers_bank_details_path do %>
            <i class="fa fa-balance-scale"></i>
            <span>Bank Details</span>
            <% end %>
        </li>

        <li>
            <%= link_to users_path do %>
            <i class="fa fa-user"></i>
            <span>Users</span>
            <% end %>
        </li>
    </ul>
</div>
