<%= form_for :activity, url: activities_path do |f| %>
<div class="col-md-offset-2 container-fluid">

    <div class="page-header">
        <h2 style="text-align: left;">Add New Activity</h2>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :Name, style: 'float: left;' %>
                <%= f.text_field :name, class: 'form-control', placeholder:'Activity Name' %>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :Category, style: 'float: left;' %>
                <%= f.collection_select(:category, Category.all, :id, :name,  {prompt: "Select a category"}, {class: "form-control"})%>


            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :Description, style: 'float: left;' %>
                <%= f.text_area :description, class: 'form-control', size: "24x6", placeholder:'A short description of the activity' %>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <%= f.submit "Add New Activity", class:'btn btn-default', style: 'float: left;' %>
            </div>
        </div>
      </div>
    <% end %>
