<%= form_for(providers_payment_type) do |f| %>
<div class="col-md-offset-2 container-fluid">
  <% if providers_payment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(providers_payment_type.errors.count, "error") %> prohibited this providers_payment_type from being saved:</h2>

      <ul>
      <% providers_payment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
      <div class="form-group">
          <%= f.label :type , style: 'float: left;' %>
          <%= f.text_field :payment_type , class: 'form-control', placeholder:'Payment Type' %>
      </div>
  </div>


  <div class="col-md-12">
      <div class="form-group">
          <%= f.submit @button_text, class:'btn btn-default', style: 'float: left;' %>
      </div>
  </div>
<% end %>
</div>
