<%= form_for :category, url: categories_path do |f| %>
<div class="col-md-offset-2 container-fluid">

    <div class="page-header">
        <h2 style="text-align: left;">View Category</h2>
    </div>

    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <%= f.label :Name, style: 'float: left;' %>
                <%= f.text_field :name, class: 'form-control', value: @category.name,:readonly => true %>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group">
                <%= f.label :Description, style: 'float: left;' %>
                <%= f.text_area :description, class: 'form-control', size: "24x6", value: @category.description, :readonly => true %>
            </div>
        </div>

        <div class="col-md-12">

            <div class="form-group">
                <%= button_to('Back To All categories', {:action => 'index', :controller => '/categories'}, method: :get, class: 'btn btn-primary', :style => 'float: left;' ) %>
            </div>

        </div>
    </div>
    <% end %>
